castService:
  name: service-castdb
  type: ClusterIP
  port: 8000
  targetPort: 8000
  nodePort: 30001


movieService:
  name: service-moviedb
  type: ClusterIP
  port: 8000
  targetPort: 8000
  nodePort: 30000

castApp:
  name: cast-app
  app: cast-app
  selector:
    app: cast-app
  labels:
    app: cast-app
  container:
    name: cast-app
    image: fm92962/jenkins_devops_exams-movie_service:v1
    env:
      DATABASE_URI: postgresql://cast_db_username:cast_db_password@castdb/cast_db_dev

castApp:
  name: movie-app
  app: movie-app
  selector:
    app: movie-app
  labels:
    app: movie-app
  container:
    name: movie-app
    image: fm92962/jenkins_devops_exams-movie_service:v1
    env:
      DATABASE_URI: postgresql://movie_db_username:movie_db_password@moviedb/movie_db_dev
      CAST_SERVICE_HOST_URL: http://cast_service:8000/api/v1/casts/
