apiVersion: v1
kind: Service
metadata:
  name: castservicenodeport
spec:
  type: NodePort              
  selector:
    app: castservice     
  ports:
    - name: http
      protocol: TCP
      port: 8000               
      targetPort: 8000         
      nodePort: 30001           
---

apiVersion: apps/v1          
kind: Deployment            
metadata:                  
  name: castservice      
  labels:
    app: castservice    
spec:                         
  selector:                 
    matchLabels:             
      app: castservice   
  replicas: 1                
  strategy:                   
    type: RollingUpdate       
  template:                  
    metadata:
      labels:
        app: castservice 
    spec:
      containers:
        - name: castservice      
          image: fm92962/jenkins_devops_exams-cast_service:v1        
          ports:
            - containerPort: 8000
          env:
          - name: DATABASE_URI
            value: postgresql://cast_db_username:cast_db_password@castdb/cast_db_dev

