apiVersion: v1
kind: Service
metadata:
  name: nginxservice
spec:
  type: NodePort              
  selector:
    app: movieservice     
  ports:
    - name: http
      protocol: TCP
      port: 8080               
      targetPort: 8080            
      nodePort: 30002           
---

apiVersion: apps/v1          
kind: Deployment            
metadata:                  
  name: nginxproxy      
  labels:
    app: nginxproxy    
spec:                         
  selector:                 
    matchLabels:             
      app: nginxproxy   
  replicas: 1                
  strategy:                   
    type: RollingUpdate       
  template:                  
    metadata:
      labels:
        app: nginxproxy 
    spec:
      containers:
        - name: nginxproxy      
          image: fm92962/nginx-proxy:v1        
          ports:
            - containerPort: 8000
