apiVersion: apps/v1          
kind: Deployment            
metadata:                  
  name: {{ .Values.nginxProxy.name }}      
  labels:
    app: {{ .Values.nginxProxy.app }}   
spec:                         
  selector:                 
    matchLabels:             
      app: {{ .Values.nginxProxy.selector.app }} 
  replicas: 1                
  strategy:                   
    type: RollingUpdate       
  template:                  
    metadata:
      labels:
        app: {{ .Values.nginxProxy.labels.app }}
    spec:
      containers:
        - name: {{ .Values.nginxProxy.container.name }}      
          image: {{ .Values.nginxProxy.container.image }}        
          ports:
            - containerPort: 8080